{% extends 'public/base.html' %}
{% block title %}
    Add Book
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-AddBookForm" style="color:white">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Add new Book
            </h1>
            <br>
            {{ form.title.label() }}
            {{ form.title(class="form-control", placeholder="Title:") }}

            {{ form.description.label() }}
            {{ form.description(class="form-control", placeholder="Description:") }}

            {{ form.author.label() }}
            {{ form.author(class="form-control", placeholder="Author:") }}

            {{ form.created_at.label() }}
            {{ form.created_at(class="form-control", placeholder="Book release year:") }}

            <br>

<!--            <div class="checkbox mb-3">-->
<!--               <h6>Already have an account?</h6>-->
<!--               <a class="btn btn-sm btn-secondary" href="{{ url_for('main.home_page') }}">Login</a>-->
<!--            </div>-->

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}