{% extends 'public/base.html' %}
{% block title %}
Books
{% endblock %}
{% block content %}
<div class="flex-grow-1 d-flex">

    <form method="POST" action="{{url_for ('main.search')}} "
          class="form-inline flex-nowrap bg-grey mx-0 mx-lg-auto rounded p-1">
        {{ form.hidden_tag() }}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searched">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
</div>

{% for book in books %}

<style>
.card-img-left {
    width: 55%;
    height: 17vw;
    object-fit: cover;
}




</style>

<div class="container mx- mt-4">
    <div class="card-img-left">
        <div class="card-img-left ">
            <img class="card-img-left" src="{{ url_for('main.send_file', filename=book.cover) }}"
                 alt="{{ book.cover }}">
            <div class="overlay-content">
            </div>
        </div>
    </div>
    <h4>{{ book.title }}</h4>
    <p>{{ book.author }}</p>
    <h4>{% set stars = book.rating | int %}
        {% for n in range(stars) %}
        <span class="fa fa-star checked" style="color:orange"></span>
        {% endfor %}
    </h4>
    <div class="btn-wrapper text-center d-flex justify-content-between">
        <button type="button" class="btn btn-primary ">
            <a href="{{ url_for('main.book', book_id=book.id) }}" style="color:white"><i class="fas fa-pen"></i> More
                info</a>
        </button>
    </div>
</div>
{% endfor %}
{% endblock %}
