{% extends 'public/base.html' %}
{% block title %}
Games
{% endblock %}
{% block content %}
{% for game in games %}
<div class="container mx- mt-4">
    <div class="card-content">
        <h2>{{ game.title }}</h2>
        <p>{{ game.studio }}</p>
        <h2>{% set stars = game.rating | int %}
            {% for n in range(stars) %}
            <span class="fa fa-star checked" style="color:orange"></span>
            {% endfor %}
        </h2>
        <div class="btn-wrapper text-center d-flex justify-content-between">
            <button type="button" class="btn btn-info btn-sm">
                <a href="#" style="color:white"><i class="fas fa-pen"></i> More info</a>
            </button>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
