{% extends 'public/base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


{% endfor %}


<h2>Profile</h2>
<br/>

<div class="container">
    <div class="card-header">
        {{ current_user.username }}
    </div>
    <div class="card-body">

        <p class="card-text">

        <div class="container">
            <div class="row">
                <div class="col-8">

                    <strong>Name:</strong>
                    {{ current_user.username }}<br/>

                    <strong>User Id:</strong>
                    {{ current_user.id }}<br/>

                    <strong>Email:</strong>
                    {{ current_user.email_address }}<br/>

                    <strong>Profile Pic:</strong>
                    {{ current_user.profile_pic }}<br/>

                    <strong>Date Joined:</strong>
                    {{ current_user.date_added }}<br/>

                    <br/><br/>
                    <a href="{{ url_for('auth.logout')}}" class="btn btn-primary btn-sm">Logout</a>
                    <br/><br/>


                </div>
                <div class="col-4">
                    {% if current_user.profile_pic %}

                    <img src="{{ url_for('static', filename='images/' + current_user.profile_pic)}}" width="200"
                         align="right">

                    {% else %}

                    <img src="{{ url_for('static', filename='images/illustration.png')}}" width="200"
                         align="right">

                    {% endif %}

                </div>
            </div>
        </div>


    </div>
</div>


{% endblock %}