{% extends 'public/base.html' %}

{% block content %}


<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <h4 class="heading">Biography Author</h4>
            <div class="circle">
                <span>Photo</span>
            </div>
            <div class="book">
                <h5 class="mt-4">{{ book.author }}</h5>
                <p>Here is a short biography</p>
                <h4 class="heading">About a book «{{ book.title }}»</h4>
                <p>Detailed information about the publication. Critics' reviews, reader reviews, awards and literary
                    prizes.</p>
            </div>
            <div class="col-xs-12 sidebutton-wrapper">
                <button type="button" class="btn btn-primary">Official site author</button>
                <p></p>
                <button type="button" class="btn btn-primary">Reader Reviews</button>
                <p></p>
                <button type="button" class="btn btn-primary">Illustrations and covers</button>
            </div>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <h1><i class="fa fa-book"></i> {{ book.title }} </h1>

            <a class="btn btn-dark btn-sm"
               href="{{ url_for('bookmark.add_book', id=book.id, title=book.title, author=book.author) }}"><h6>Add to
                favorite</h6></a>

            <h6>{{ book.recently_edit.strftime('%d-%m-%Y') }}</h6>
            <h4 class="heading">Write Review</h4>

            <div class="book-cover row justify-content-center  mb-4">
                <a href="{{ url_for('main.send_file', filename=book.cover) }}"><img
                        src="{{ url_for('main.send_file', filename=book.cover) }}" class="rounded mr-2"
                        alt="Обложка {{ book.title }}"></a>
                <!--                <a href="{{ url_for('main.send_file', filename='illustration.png') }}"><img-->
                <!--                        src="{{ url_for('main.send_file', filename='illustration.png') }}" class="rounded mr-2"-->
                <!--                        alt="Обложка {{ book.title }}"></a>-->
                <!--                <a href="{{ url_for('main.send_file', filename='illustration.png') }}"><img-->
                <!--                        src="{{ url_for('main.send_file', filename='illustration.png') }}" class="rounded mr-2"-->
                <!--                        alt="Обложка {{ book.title }}"></a>-->
            </div>
            <div>
            </div>
            <h4 class="heading">Story</h4>
            <div class="book-primary mb-4">
                <p>{{ book.description }}</p>
            </div>
        </div>
    </div>
    <div class="rating_container">
        <!--        <div class="text-center">-->
        <!--            {% for i in range(5) %}-->
        <!--            <img src="{{ url_for('static',filename='images/rating.png') }}" width="35" height="35"-->
        <!--                 id="star_{{i}}">-->
        <!--            {% endfor %}-->
        <!--            <div class="text-center">-->
        <!--                <form method='POST' action="">-->
        <!--                    <input type="hidden" id="rating_content" name='rating' value='0'>-->
        <!--                    <input type="submit" id="submitbtn" class="btn btn-primary mt-1" value="Submit my Rating">-->
        <!--                </form>-->
        <!--            </div>-->
        <form id="feedback" action="">
            <div class="pinfo">Write your feedback.</div>
            <script src="https://use.fontawesome.com/a6f0361695.js"></script>
            <div class="form-group">
                <div class="rating_container">
                    <div class="text-center">
                        {% for i in range(5) %}
                        <img src="{{ url_for('static',filename='images/rating.png') }}" width="35" height="35"
                             id="star_{{i}}">
                        {% endfor %}
                        <div class="text-center">
                            <form method='POST' action="" class="form-review">
                                {{ form.hidden_tag() }}
                                <input type="hidden" id="rating_content" name='rating' value='0'>
                                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                <textarea class="form-control" id="description_review" rows="5"></textarea>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% for ratingbook in ratingbooks %}
    <div class="container">
        <!--        <a href="{{ url_for('main.book', book_id=book.id)}}"></a>-->
        <h2>{{ ratingbook.owner }} </h2>{{
        ratingbook.recently_edit }}
        <h2>{% set stars = ratingbook.rating | int %}
            {% for n in range(stars) %}
            <span class="fa fa-star checked" style="color:orange"></span>
            {% endfor %}
        </h2>
        <h5>{{ ratingbook.review|safe }}</h5>
        <a href="{{ url_for('main.book', book_id=book.id)}}" class="btn btn-outline-secondary btn-sm">View Post</a>


        <br/><br/>
    </div>
    <br/>
    {% endfor %}
</div>
{% endblock %}
