{% extends 'public/base.html' %}

{% block content %}
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <h4 class="heading">Biography Author</h4>
            <div class="circle">
                <span>Photo</span>
            </div>
            <div class="book">
                <h5 class="mt-4">{{ book.author }}</h5>
                <p>Here is a short biography</p>
                <h4 class="heading">About a book «{{ book.title }}»</h4>
                <p>Detailed information about the publication. Critics' reviews, reader reviews, awards and literary
                    prizes.</p>
            </div>
            <div class="col-xs-12 sidebutton-wrapper">
                <button type="button" class="btn btn-primary">Official site author</button>
                <p></p>
                <button type="button" class="btn btn-primary">Reader Reviews</button>
                <p></p>
                <button type="button" class="btn btn-primary">Illustrations and covers</button>
            </div>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <h1><i class="fa fa-book"></i> {{ book.title }} </h1>

            <a class="btn btn-dark btn-sm" href="{{ url_for('main.bookmark_add_book', id=book.id, title=book.title, author=book.author) }}"><h6>Add to favorite</h6></a>

            <h6>{{ book.recently_edit.strftime('%d-%m-%Y') }}</h6>
            <h4 class="heading">Моя оценка</h4>
            <h6>{% set stars = book.rating | int %}
                {% for n in range(stars) %}
                <span class="fa fa-star checked" style="color:orange"></span>
                {% endfor %}
            </h6>

            <div class="book-cover row justify-content-center  mb-4">
                <a href="{{ url_for('main.send_file', filename=book.cover) }}"><img
                        src="{{ url_for('main.send_file', filename=book.cover) }}" class="rounded mr-2"
                        alt="Обложка {{ book.title }}"></a>
                <!--                <a href="{{ url_for('main.send_file', filename='illustration.png') }}"><img-->
                <!--                        src="{{ url_for('main.send_file', filename='illustration.png') }}" class="rounded mr-2"-->
                <!--                        alt="Обложка {{ book.title }}"></a>-->
                <!--                <a href="{{ url_for('main.send_file', filename='illustration.png') }}"><img-->
                <!--                        src="{{ url_for('main.send_file', filename='illustration.png') }}" class="rounded mr-2"-->
                <!--                        alt="Обложка {{ book.title }}"></a>-->
            </div>
            <div>
            </div>
            <h4 class="heading">Story</h4>
            <div class="book-primary mb-4">
                <p>{{ book.description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
