{% extends 'public/base.html' %}

{% block content %}
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <h4 class="heading">Biography Author</h4>
            <div class="circle">
                <span>Photo</span>
            </div>
            <div class="game">
                <h5 class="mt-4">{{ game.studio }} Interactive</h5>
                <p>Here is a short biography</p>
                <h4 class="heading">About a Game «{{ game.title }}»</h4>
                <p>Detailed information about the publication. Critics' reviews, reader reviews, awards and literary
                    prizes.</p>
            </div>
            <div class="col-xs-12 sidebutton-wrapper">
                <button type="button" class="btn btn-primary">Official site author</button>
                <p></p>
                <button type="button" class="btn btn-primary">Reader Reviews</button>
                <p></p>
                <button type="button" class="btn btn-primary">Illustrations and covers</button>
            </div>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <h1><i class="fa fa-game"></i> {{ game.title }} </h1>

            <a class="btn btn-dark btn-sm" href="{{ url_for('main.bookmark_add_game', id=game.id, title=game.title, author=game.studio) }}"><h6>Add to favorite</h6></a>

            <h6>{{ game.recently_edit.strftime('%d-%m-%Y') }}</h6>
            <h4 class="heading">Моя оценка</h4>
            <h6>{% set stars = game.rating | int %}
                {% for n in range(stars) %}
                <span class="fa fa-star checked" style="color:orange"></span>
                {% endfor %}
            </h6>

            <div class="game-cover row justify-content-center  mb-4">
                <a href="{{ url_for('main.send_file', filename=game.cover) }}"><img
                        src="{{ url_for('main.send_file', filename=game.cover) }}" class="rounded mr-2"
                        alt="Обложка {{ game.title }}"></a>
            </div>
            <div>
            </div>
            <h4 class="heading">Story</h4>
            <div class="game-primary mb-4">
                <p>{{ game.description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
